function search_code_in_commit_history() {
    git log -S $1 --source --all
}

function open_pull_request() {
    git rev-parse --abbrev-ref HEAD | xargs -I{} git push -u origin {} && sleep 3 && git rev-parse --abbrev-ref HEAD | xargs -I % $BROWSER https://github.com/$1/$2/compare/main...%
}
