export OPENAI_API_TOKEN=
export OPENAI_API_KEY=

export WINDOWS_USER_NAME=

export DATABASE_URL=
export MYSQL_ROOT_PASSWORD=
export POSTGRES_PASSWORD=

export WORK_REPOSITORY=

export PROJECT_1=
export PROJECT_2=
export PROJECT_3=

export WORK_REPOSITORY_1=
export WORK_REPOSITORY_2=

export WORK_TEAM=

export SHORTCUT_WORK_TEAM_URL=

export HEROKU_PIPELINES_URL=

export GOOGLE_API_KEY=
export GOOGLE_SEARCH_ENGINE_ID=

export PERPLEXITY_API_KEY=

export BUSINESS_DATABASE_URL=
